body {
  margin: 0;
  padding: 0;
  background-color: #1C1C1C;
}

footer {
    background-color: #FFFFFF;
    color: #1C1C1C;
    text-align: center;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    border-top: 3px solid;
    border-color: #F2C94C;
}

.navbar {
  background-color: #F2C94C;
  color: #36454F;
  padding: 16px 24px;
  border-bottom: 3px solid;
  border-color: #FFFFFF;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
  margin-left: 2%;
}

.navbar-logo {
  font-size: 30px;
  font-weight: bold;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  color: #36454F;
  text-decoration: none;
  font-size: 20px;
}

.navbar-menu li a:hover {
  text-decoration: none;
}

a:link {
    color: #1C1C1C;
    text-decoration: none;
}

a:visited {
    color: #1C1C1C;
}

a:hover {
    text-decoration-line: none;
}

a:active {
    color: #FFFFFF;
}


